<header>
    
</header>
<body>
    <table>
        <tr>
            <th>
                <div id="rest4">
                    <div id="rest"> 
                        <img src="https://cdn.foodandwineespanol.com/2021/11/Lorenza.jpg" width = "200" height = "200" id="resti"> 
                    </div> 
                    <table>
                        <tr>
                            <th><button type="button" id="hora">7:00</button></th>
                            <th><button type="button" id="hora">7:30</button></th>
                            <th><button type="button" id="hora">8:00</button></th>
                            <th><button type="button" id="hora">8:30</button></th>
                        </tr>
                        <tr>
                            <th><button type="button" id="hora">9:00</button></th>
                            <th><button type="button" id="hora">9:30</button></th>
                            <th><button type="button" id="hora">10:00</button></th>
                            <th><button type="button" id="hora">10:30</button></th>
                        </tr>
                      </table>
                </div> 
            </th>
            <th>
                <div id="rest4">
                    <div id="rest"> 
                        <img src="https://cdn.foodandwineespanol.com/2021/11/Lorenza.jpg" width = "200" height = "200" id="resti"> 
                    </div> 
                    <table>
                        <tr>
                            <th><button type="button" id="hora">7:00</button></th>
                            <th><button type="button" id="hora">7:30</button></th>
                            <th><button type="button" id="hora">8:00</button></th>
                            <th><button type="button" id="hora">8:30</button></th>
                        </tr>
                        <tr>
                            <th><button type="button" id="hora">9:00</button></th>
                            <th><button type="button" id="hora">9:30</button></th>
                            <th><button type="button" id="hora">10:00</button></th>
                            <th><button type="button" id="hora">10:30</button></th>
                        </tr>
                      </table>
                </div>
            </th>
            <th>
                <div id="rest4">
                    <div id="rest"> 
                        <img src="https://cdn.foodandwineespanol.com/2021/11/Lorenza.jpg" width = "200" height = "200" id="resti"> 
                    </div> 
                    <table>
                        <tr>
                            <th><button type="button" id="hora">7:00</button></th>
                            <th><button type="button" id="hora">7:30</button></th>
                            <th><button type="button" id="hora">8:00</button></th>
                            <th><button type="button" id="hora">8:30</button></th>
                        </tr>
                        <tr>
                            <th><button type="button" id="hora">9:00</button></th>
                            <th><button type="button" id="hora">9:30</button></th>
                            <th><button type="button" id="hora">10:00</button></th>
                            <th><button type="button" id="hora">10:30</button></th>
                        </tr>
                      </table>
                </div>
            </th>
        </tr>
        <tr>
            <th>
                <div id="rest4">
                    <div id="rest"> 
                        <img src="https://cdn.foodandwineespanol.com/2021/11/Lorenza.jpg" width = "200" height = "200" id="resti"> 
                    </div> 
                    <table>
                        <tr>
                            <th><button type="button" id="hora">7:00</button></th>
                            <th><button type="button" id="hora">7:30</button></th>
                            <th><button type="button" id="hora">8:00</button></th>
                            <th><button type="button" id="hora">8:30</button></th>
                        </tr>
                        <tr>
                            <th><button type="button" id="hora">9:00</button></th>
                            <th><button type="button" id="hora">9:30</button></th>
                            <th><button type="button" id="hora">10:00</button></th>
                            <th><button type="button" id="hora">10:30</button></th>
                        </tr>
                      </table>
                </div> 
            </th>
            <th>
                <div id="rest4">
                    <div id="rest"> 
                        <img src="https://cdn.foodandwineespanol.com/2021/11/Lorenza.jpg" width = "200" height = "200" id="resti"> 
                    </div> 
                    <table>
                        <tr>
                            <th><button type="button" id="hora">7:00</button></th>
                            <th><button type="button" id="hora">7:30</button></th>
                            <th><button type="button" id="hora">8:00</button></th>
                            <th><button type="button" id="hora">8:30</button></th>
                        </tr>
                        <tr>
                            <th><button type="button" id="hora">9:00</button></th>
                            <th><button type="button" id="hora">9:30</button></th>
                            <th><button type="button" id="hora">10:00</button></th>
                            <th><button type="button" id="hora">10:30</button></th>
                        </tr>
                      </table>
                </div>
            </th>
            <th>
                <div id="rest4">
                    <div id="rest"> 
                        <img src="https://cdn.foodandwineespanol.com/2021/11/Lorenza.jpg" width = "200" height = "200" id="resti"> 
                    </div> 
                    <table>
                        <tr>
                            <th><button type="button" id="hora">7:00</button></th>
                            <th><button type="button" id="hora">7:30</button></th>
                            <th><button type="button" id="hora">8:00</button></th>
                            <th><button type="button" id="hora">8:30</button></th>
                        </tr>
                        <tr>
                            <th><button type="button" id="hora">9:00</button></th>
                            <th><button type="button" id="hora">9:30</button></th>
                            <th><button type="button" id="hora">10:00</button></th>
                            <th><button type="button" id="hora">10:30</button></th>
                        </tr>
                      </table>
                </div>
            </th>
        </tr>
        <tr>
            <th>
                <div id="container">
                    <form>
                        <tr>
                            <th><label for="date">Fecha de reserva</label></th>
                            <th><input type="date" id="date" name="date" class="form-control" required></th>
                        </tr>
                        <tr>
                            <th>
                            <label for="people">Cantidad de personas</label>
                            </th>
                            <th>
                            <input type="number" id="people" name="people" class="form-control" min="1" max="10" required>
                            </th>
                        </tr>
                        
                        <button type="submit" class="btn">Enviar reserva</button>
                    </form>
                </div>
            </th>
        </tr>
    </table>
</body>
