body {
    background-color: #ECF2FF;
}

#boton{ 
	position:fixed; 
	top:0; 
	left:0; 
    margin: 5px;
    background-color: #655DBB;
    color: white;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 32px;
} 
#boton:hover {
    background-color: #9470d6; 
    color: white;
  }
  #rest {
    border-radius: 12px;
    margin: 50px;
    margin-bottom: 5px;
  }
  #hora {
    margin: 5px;
    border-radius: 12px;
    margin-left: 10px;
  }
  #hora:hover {
    background-color: #9470d6; 
    color: white;
  }